mykpatch:
  image: roast/mykpatch:0.7.0
  #command: ros console-init
  privileged: true
  labels:
    io.rancher.os.scope: system
    io.rancher.os.after: network
    io.docker.compose.rebuild: "false"
  volumes_from:
  - all-volumes
  restart: always
  pid: host
  ipc: host
  net: host
  uts: host
